@model IEnumerable<WMSUCPECS.Areas.Security.Models.UserView>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





  

  
<h2>Index</h2>

@{
    if (TempData["message"] != null)
    {
        <div class=" alert alert-success"> <strong> Successfully created!</strong> </div>
    }
}
@{
    if (TempData["editmsg"] != null)
    {
        <div class=" alert alert-success"> <strong> Successfully modified!</strong> </div>
    }
}

@{
    if (TempData["delmsg"] != null)
    {
        <div class=" alert alert-success"> <strong> Successfully deleted!</strong> </div>
    }
}

<p>
    <div class="text-right">

        <a href="@Url.Action("Create")" class="btn btn-info">
            <span class="glyphicon glyphicon-plus"></span>Create New
        </a>
    </div>
</p>

<div style="overflow-x:auto;">
    <table class="table">
        <tr>
            <th>
                SN
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmploymentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Educations)
            </th>
            <th>Actions</th>
        </tr>
                @{var x = 1;}
                @{var y = 1;}
                @foreach (var item in Model)
                {
        <tr class="accordion-toggle">
            <td data-toggle="collapse" data-target="#collapse1">@(x++)</td>
            <td data-toggle="collapse" data-target="#collapse1">@Html.DisplayFor(modelItem => item.FirstName)</td>
            <td data-toggle="collapse" data-target="#collapse1">@Html.DisplayFor(modelItem => item.LastName)</td>
            <td data-toggle="collapse" data-target="#collapse1">@Html.DisplayFor(modelItem => item.Age)</td>
            <td data-toggle="collapse" data-target="#collapse1">@Html.DisplayFor(modelItem => item.Gender)</td>
            <td data-toggle="collapse" data-target="#collapse1">@Html.DisplayFor(modelItem => item.EmploymentDate)</td>
            
        </tr>
        <tr>
            <td></td>
            <td colspan="4">
                <div id="collapse1" class="collapse in">
                    - Details 1 <br />
                    - Details 2 <br />
                    - Details 3 <br />
                </div>
            </td>
        </tr>
                }
        </table>



























        @*<table class="table">

                <tr>
                    <th>
                        SN
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LastName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Age)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Gender)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EmploymentDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.School)
                    </th>
                    <th>Actions</th>
                </tr>


                @{var x = 1;}
                @foreach (var item in Model)
                {

                    <tr class="accordion-toggle" data-toggle="collapse" data-target="#collapseOne">
                        <td>
                            @(x++)
                        </td>
                        <td>

                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Age)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Gender)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EmploymentDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.School)
                        </td>
                        <td>
                            <a href="@Url.Action("Edit", new { id=item.Id })"
                               class="text-success">
                                <span class="glyphicon glyphicon-pencil"></span>Edit
                            </a>
                            <a href="@Url.Action("Details", new { id = item.Id })"
                               class="text-success">
                                <span class="glyphicon glyphicon-cloud"></span>Details
                            </a>
                            <a href="@Url.Action("Delete", new { id = item.Id })"
                               class="text-danger">
                                <span class="glyphicon glyphicon-trash"></span>Delete
                            </a>
                        </td>
                      </tr>

                }

            </table>*@


</div>